body {
  padding-top: 50px;
}
.img-thumbnail{
 position: relative;
}

.result-box{
  margin-bottom: 15px;
  margin-right: 10px;
}
.info{
  display: inline;
  position: absolute;
  left : 350px;
}
.video-title{
  font-weight: bold;
}
.next-button, .prev-button{
  margin: 15px;
}