body {
  padding-top: 50px;
}
.img-thumbnail{
 position: relative;
}
 .results ul{
 	list-style: none;
 }
.info{
  display: inline;
  position: absolute;
  left : 400px;
}
.video-title{
  font-weight: bold;
}
.next-button, .prev-button{
  margin: 15px;
}